:host {
  display: block;
  min-height: 100vh;

  .layout {
    display: flex;
    min-height: 100vh;

    nav {
      width: 100px;
      background: red;
    }

    main {
      width: calc(100% - 200px);
      background: #f6f6f6;
    }

    aside {
      width: 500px;
    }
  }
}
