<ng-container *ngIf="valueChanged$ | async"></ng-container>
<form [formGroup]="form">
  <fieldset>
    <label>Forecast type</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="forecastType"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let forecastType of forecastTypes"
        [value]="forecastType"
      >
        {{ forecastType.label }}
      </mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <fieldset formGroupName="timeSettings">
    <label>Time settings</label>

    <mat-checkbox
      class="example-margin"
      *ngFor="let timeSetting of timeSettings"
      [formControlName]="timeSetting.label"
      >{{ timeSetting.label }}</mat-checkbox
    >
  </fieldset>

  <fieldset formGroupName="additionalOptions">
    <label>Additional options</label>

    <mat-checkbox
      class="example-margin"
      *ngFor="let additionalOption of additionalOptions"
      [formControlName]="additionalOption.label"
      >{{ additionalOption.label }}</mat-checkbox
    >
  </fieldset>
</form>

<pre>
    {{ form.value | json }}
</pre>
